@font-face {
    font-family: 'bronkohregular';
    src: url('fonts/bronkoh-regular-bf65519bc788d98-webfont.woff2');
}

@font-face {
    font-family: 'bronkohextrabold';
    src: url('fonts/bronkoh-extrabold-bf65519bc761d7b-webfont.woff2');
}

@font-face {
    font-family: 'bronkoh-heavyitalic';
    src: url('fonts/bronkoh-heavyitalic-bf65519bc78690c-webfont.woff2')
}

:root {
    font-family: 'bronkohregular';
    --font_breg: 'bronkohregular';
    --font_bxbold: 'bronkohextrabold';
    --font_hvyitalic: 'bronkoh-heavyitalic';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font_hvyitalic);
    /* text-align: center; */
    font-size: large;
    color: #000;
}

h2,
h3,
h4 {
    text-align: center;
    padding-top: 20px;
}

.logo {
    justify-content: center;
}

body {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color: #2F3061; */
    background-color: #2F3061;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    justify-items: center;
    text-align: center;
    color: #CFE6FF;
}

#menu {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    padding: .5rem .75rem;
    /* background-color: #2F3061; */
    /* color: #000; */
}

#menu::before {
    content: "≡";
    position: absolute;
    top: 20px;
    right: 15px;
    color: #CFE6FF;
}

nav {
    display: none;
}

nav.show {
    display: block;
    text-align: right;
}

.navigation {
    list-style-type: none;
    justify-content: center;
    background-color: #2F3061;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    padding: 10px;
}

.navigation a {
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: #a53860;
}

.active::before {
    content: "👉 ";
}

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}

ul {
    list-style-type: none;
}

.hero-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.hero-container picture,
.hero-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

p.description,
p.goal,
.makerspace p,
.careers p {
    padding: 20px;
}

.welcome-section {
    position: relative;
    text-align: center;
    /* margin: 20px; */
}

.image-container {
    position: relative;
    width: 100%;
    /* max-width: 600px; */
    /* margin: 0 auto; */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    /* float: right; */
}

/* .skills {
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ebebeb;
    box-shadow: 0 0 10px;
    width: 300px;
    max-width: 100%;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    opacity: .85;
    z-index: 2;
} */

.skills p {
    padding: 20px;
    position: relative;
    z-index: 3;
}

/* .teacher-students img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
} */

.button-container {
    padding: 20px;
}

.button {
    background-color: #2F3061;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

hr {
    border: 1px solid;
    width: 20%;
    margin: auto;
}

iframe {
    width: 100%;
    height: 400px;
    border: 0;
}


footer {
    color: #150E60;
    background-color: #CFE6FF;
    text-align: center;
    padding: 40px;
}

/* ------- Dark Mode -------*/
.switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FED74F;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '🔆';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2F3061;
}

input:hover+.slider {
    box-shadow: 0 0 20px #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: '';
    background-image: url('../images/moon.webp');
    background-size: cover;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode .membersGrid .member-details a:visited,
.dark-mode .events a:visited,
.dark-mode .facts-container a:visited,
.dark-mode .visit-links a:visited {
    color: #b495d0;
    background-color: transparent;
    text-decoration: underline;
}

.dark-mode .membersGrid .member-details a,
.dark-mode .events a,
.dark-mode .facts-container a,
.dark-mode .visit-links a {
    color: #ffe344;
    text-decoration: none;
    background-color: transparent;
}

.dark-mode .facts-container .facts-list li,
.dark-mode header,
.dark-mode .herotextbox,
.dark-mode .membership-benefits,
.dark-mode .events,
.dark-mode .weather,
.dark-mode .spotlight,
.dark-mode .directory-view {
    background-color: #000;
}

.dark-mode form legend,
.dark-mode .facts-container {
    color: #fff;
    background-color: #000;
}

.dark-mode .feature,
.dark-mode .membership-option {
    color: #000;
}

.dark-mode .membersList h3,
.dark-mode .membersList p {
    color: #fff
}

.dark-mode .membersList article {
    background-color: #161616;
}

.dark-mode .membersList article:nth-child(even) {
    background-color: #000000;
}

/*-------- Join Form ----------- */
:root {
    --border: #999;
    --legend: #2f3061;
}

form fieldset {
    margin: 2rem auto;
    max-width: 600px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 1.5rem 5%;
}

form legend {
    color: var(--legend);
}

form label {
    display: block;
    padding-top: 1rem;
}

form label input,
form label textarea {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    max-width: 50rem;
    width: 80%;
}

.membership-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 100%;
}

.non-profit {
    background-color: rgb(209, 220, 235);
}

.brnze {
    background-color: #f4e6cf;
}

.slvr {
    background-color: #d8d8d8;
}

.gld {
    background-color: #fcf7cf;
}

.membership-option h2 {
    margin-top: 0;
}

.membership-option ul {
    list-style: none;
    padding: 0;
}

.membership-option ul li {
    margin-bottom: 5px;
    text-align: center;
}

.membership-option .price {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

.membership-option input[type="radio"] {
    margin-top: 5px;
}

.button-container {
    text-align: center;
}

form input.submitBtn {
    border: none;
    background-color: #2F3061;
    color: white;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    margin: 0 auto 2rem auto;
    max-width: 20rem;
}

.thankyoumessage {
    margin: 0 auto;
    text-align: center;
    padding: 200px;
}