@font-face {
    font-family: 'bronkohregular';
    src: url('fonts/bronkoh-regular-bf65519bc788d98-webfont.woff2');
}

@font-face {
    font-family: 'bronkohextrabold';
    src: url('fonts/bronkoh-extrabold-bf65519bc761d7b-webfont.woff2');
}

@font-face {
    font-family: 'bronkoh-heavyitalic';
    src: url('fonts/bronkoh-heavyitalic-bf65519bc78690c-webfont.woff2')
}

:root {
    font-family: 'bronkohregular';
    --font_breg: 'bronkohregular';
    --font_bxbold: 'bronkohextrabold';
    --font_hvyitalic: 'bronkoh-heavyitalic';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font_hvyitalic);
    /* text-align: center; */
    font-size: x-large;
    color: #000;
}

h3,
h4 {
    text-align: center;
    padding-top: 20px;
}

/* .logo {
    justify-content: center;
} */

body {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #2F3061;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    width: 65px;
    height: 60px;
}

header h1 {
    display: inline-block;
    color: #CFE6FF;
}

#menu {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    padding: .5rem .75rem;
}

#menu::before {
    content: "≡";
    position: absolute;
    top: 20px;
    right: 15px;
    color: #CFE6FF;
    vertical-align: middle;
}

.nav {
    display: none;
}

/* .navigation {
    list-style-type: none;
    font-family: var(--font_bxbold);
    background-color: #2F3061;
    padding: 0;
    margin: 0;
} */
.navigation {
    list-style-type: none;
    font-family: var(--font_bxbold);
    background-color: #2F3061;
    position: absolute;
    right: 0px;
    top: 65px;
    z-index: 1;
}

.navigation li {
    display: none;
    padding: 10px;
}

.navigation a {
    display: block;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: #51a538;
    border-radius: 4px;
}

nav.show {
    display: block;
    text-align: right;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}

ul {
    list-style-type: none;
}

.hero {
    width: 100%;
    /* max-width: 1920px; */
    margin: 0 auto;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.herotext {
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font_hvyitalic);
    width: 40%;
    padding: 1rem;
    margin: 0 auto;
    color: #CFE6FF;
    background-color: #2f3061b6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.description {
    padding: 20px;
}

.goal {
    padding: 20px;
}

.welcome-section {
    position: relative;
    text-align: center;
    padding-top: 20px;
    font-size: 1rem;
    max-width: 100%;
    /* color: #CFE6FF; */
    /* background-image: linear-gradient(rgb(0, 19, 102), #25b1ca); */
    /* background-image: linear-gradient(#2F3061, #25b1ca); */
}

.classes-makerspace-section,
.makerspace-section,
.careers-section {
    position: relative;
    text-align: center;
    /* margin: 20px; */
    padding-top: 20px;
    font-size: 1rem;
    max-width: 100%;
}

.classes-container,
.makerspace-container {
    /* border: 1px solid #000; */
    /* border-radius: 8px; */
    box-shadow: 4px 4px 15px 0px #b1b0b0;
    margin: 10px;
    background-color: #fff;
    /* color: #CFE6FF; */
    /* background-image: linear-gradient(rgb(0, 19, 102), #25b1ca); */
    /* background-image: linear-gradient(#2F3061, #25b1ca); */
}

.careers-container {
    box-shadow: 4px 4px 15px 0px #b1b0b0;
    margin: 10px;
    background-color: #fff;
    /* color: #CFE6FF; */
    /* background-image: linear-gradient(#25b1ca, #2F3061); */
}

.classes h2,
.makerspace h2,
.careers-container h2 {
    padding-top: 20px;
    font-size: 1.5rem;
}

.classes img,
.makerspace img {
    padding: 20px 10px 10px;
    width: 100%;
    height: auto;
}

.makerspace ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 10px;
}


.electronics-container {
    border: 1px solid #000;
    border-radius: 7px;
    /* padding: 10px; */
}

.description {
    text-align: center;
    font-size: large;
    font-weight: 700;
}

/* .courses-section {
    position: relative;
    text-align: center;
    padding-top: 20px;
    font-size: 1rem;
    max-width: 100%;
} */

.class-info h2 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
}

.class-info {
    max-width: 100%;
    /* width: 600px; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    text-align: left;
}

.class-info h3 {
    text-align: left;
}

/* .class-dates-section {
    margin-top: 20px;
} */

.class-dates-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.class-dates-table th,
.class-dates-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.class-dates-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.class-dates,
.class-location,
.class-age,
.class-instructor,
.class-cost {
    margin: 10px 10px 10px 0px;
    font-size: 16px;
    text-align: left;
}

strong {
    font-weight: bold;
}

.toggle-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20%;
    background-color: #f9f9f9;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
}

.class-description {
    margin-top: 20px;
}

.class-description h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.class-description p {
    font-size: 14px;
    line-height: 1.6;
}

.class-description ul {
    padding-left: 20px;
    margin-top: 10px;
}

.class-description ul li {
    font-size: 14px;
    margin-bottom: 5px;
    list-style-type: disc;
    list-style-position: inside;
}



/* .programming-container p {
    padding: 20px;
}

.programming ul {
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    padding: 10px 10px 40px;
} */

.image-container {
    position: relative;
    width: 100%;
    padding-top: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.description p,
.classes p,
.makerspace p,
.careers-section p,
.goal p {
    padding: 20px;
    position: relative;
    font-family: var(--font_bxbold);
}

.classes-headline p {
    text-align: center;
    padding: 20px;
}

.button-container {
    padding: 20px;
}

.button {
    background-color: #2F3061;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

hr {
    border: 1px solid;
    width: 20%;
    margin: auto;
}

.careers-section {
    text-align: center;
    /* padding: 20px; */
}

iframe {
    width: 100%;
    height: 400px;
    border: 0;
}

.footer-column h3 {
    padding-bottom: 20px;
}

.footer-container ul li a:link {
    text-decoration: none;
    color: #CFE6FF;
}

.footer-container ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.footer-container ul li a:visited {
    text-decoration: none;
    color: #CFE6FF;
}


footer {
    color: #CFE6FF;
    background-color: #2F3061;
    text-align: center;
    padding: 40px;
}

/*-------- Classes/Registration Form ----------- */
.registration {
    /* background-image: linear-gradient(#6AD4E8 45%, #99EBDB, #AAF3D7); */
    display: block;
    padding-top: 50px;
}

form fieldset {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 100%;
    width: 600px;
    border: 1px solid #dcdfff;
    border-radius: 5px;
    padding: 20px;
    background-color: #2f3dfd17;
    box-shadow: 12px 12px 14px #a8a7a7;
}

form legend {
    font-weight: 900;
    font-size: large;
}

form label {
    display: block;
    padding-top: 1rem;
}

form input {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .3rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(255, 255, 255);
}

#class {
    padding: .4rem;
    /* width: 100%; */
}

#registerButton {
    padding: 5px;
    /* border: 1.5px solid #000; */
    border-radius: 7px;
    margin-left: 20px;
    background-color: #150E60;
    color: #CFE6FF;
    width: 150px;
}

/*-------- Mailing List ----------- */

.mailinglist h2 {
    text-align: center;
    margin: 60px;
}

.mailinglist {
    max-width: 100%;
}

#subscribeButton {
    padding: 5px;
    border-radius: 7px;
    margin: 20px;
    margin-left: 20px;
    background-color: #150E60;
    color: #CFE6FF;
    width: 150px;
}