@media screen and (min-width: 725px) {


    header {
        align-items: center;
    }

    h1 {
        padding: 20px;
    }

    nav {
        padding: 10px;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        position: static;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        display: block;
    }

    #menu {
        display: none;
    }

    .courses-makerspace-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .course-details-container {
        max-width: 100%;
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


    /* .courses-info {
        grid-template-columns: repeat(2, 1fr);
    } */

    /* 
    .courses-section {
        display: grid;
    }

    .courses-container {
        grid-template-columns: repeat(2, 1fr);
    } */

    .contact-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 800px;
        width: 100%;
    }

    .company-address {
        flex: .3;
        /* Allow the address to take one column */
        margin-top: 40px;
        margin-right: 20px;
    }

    .contact-form {
        flex: 2;
        /* Allow the form to take more space */
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        gap: 10px;
        justify-content: center;
    }

    /*-------- Instructors -----------*/

    .card {
        flex-direction: row;
        /* Side-by-side layout for medium screens and up */
        align-items: center;
        max-width: 900px;
        /* Wider layout for larger screens */
    }

    .instructors-img img {
        width: 240px;
        /* Fixed width on larger screens */
        margin-right: 1rem;
    }

    .info {
        text-align: left;
        margin-top: 0;
        /* Remove top margin for side-by-side layout */
    }

    /* .faqs {
        border: 1px solid #CCC;
        border-radius: 8px;
        max-width: 100%;
        width: 1200px;
        margin: 0 auto;
        color: #150E60;
        background-color: #CF;
    }

    .faq-item {
        text-align: left;
    } */
}