@media screen and (min-width: 725px) {


    header {
        align-items: center;
    }

    h1 {
        padding: 20px;
    }

    nav {
        padding: 10px;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        position: static;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        display: block;
    }

    #menu {
        display: none;
    }

    .courses-makerspace-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .course-details-container {
        max-width: 100%;
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


    /* .courses-info {
        grid-template-columns: repeat(2, 1fr);
    } */

    /* 
    .courses-section {
        display: grid;
    }

    .courses-container {
        grid-template-columns: repeat(2, 1fr);
    } */

    .contact-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 800px;
        width: 100%;
    }

    .company-address {
        flex: .3;
        /* Allow the address to take one column */
        margin-top: 40px;
        margin-right: 20px;
    }

    .contact-form {
        flex: 2;
        /* Allow the form to take more space */
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        gap: 10px;
        justify-content: center;
    }
}