@media screen and (min-width: 680px) {


    header {
        align-items: center;
    }

    h1 {
        padding: 20px;
    }

    nav {
        padding: 10px;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        position: static;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        display: block;
    }

    #menu {
        display: none;
    }
}